<h2>Create a counter</h2>
<p>
  <label for="name">Name</label>
  <input type="text" name="name">
</p>
<p>
  <label>
    <input type="checkbox" name="use_max_value"> Set a maximum counter value
  </label>
</p>
<p id="max_value_input" class="hidden">
  <label for="max_value">Maximum counter value</label>
  <input type="number" name="max_value" pattern="[0-9]*">
</p>
<button class="add_counter">Add counter</button>
<button class="add_counter_cancel">Cancel</button>