<h2>Projects</h2>
<ul>
{{#each collection}}
  <li class="project"><a href="" data-id="{{id}}">{{name}}</a></li>
{{/each}}
</ul>

<p>
  <label>New Project Name <input type="text" name="new_project_name" value="New Project"></label>
  <button class="add_project">Add Project</button>
</p>
