@import 'reset';
@import 'font-awesome';

body {
  font-family: "Verdana", sans-serif;
}

a {
  text-decoration: none;
}

header {
  font-size: 1.1em;
  line-height: 2.25em;
  overflow: hidden;
  padding: 0.9em;
  position: relative;

  h1, h2 {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
  }
  button {
    float: right;
    &.button-left {
      float: left;
      margin-right: 1em;
    }
  }
}

p {
  padding: 1em;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background: #ccc;
    display: block;
    height: 3.5em;
    overflow: hidden;
    position: relative;
    width: 100%;

    a, span {
      display: block;
      float: left;
      height: 100%;
      overflow: hidden;
      padding: 1.2em 5%;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 50%;
    }

    button {
      float: right;
      margin-right: 2.5%;
      margin-top: 1.1em;

    }

    &:nth-child(even) { background: #eee; }
  }
}

button, input, select {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  font-size: .75em;
  padding: 0.6em 0.8em;
}

button {
  background: rgba(#000, .1);
  border: 0;
  text-align: center;

  &:focus, &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}

input {
  &:focus {
    box-shadow: 0 0 0 1px #ccc;
    outline: none;
  }
}

.hidden { display: none; }